body {
    background-color: rgb(32, 38, 52);
    width: 95%;
    height: 97vh;
    font-family: "Manrope", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container .conselho {
    color: rgb(241, 240, 244);
    text-align: center;
    background-color: rgb(49, 58, 73);
    padding: 20px;
    width: 500px;
    height: 300px;
    border-radius: 3%;
    position: absolute;
}

.container .conselho h1 {
    font-size: 13px;
    margin-bottom: 20px;
    color: hsl(150, 100%, 66%);
    margin-top: 30px;
    letter-spacing: 3px;
}

.container .conselho p {
    font-size: 25px;
    font-weight: 800;
}

.container .conselho .divisor {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.container button {
    background-color: hsl(150, 100%, 66%);
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    position: relative;
    margin-top: 300px;


}

.container button :hover {

    box-shadow: hsl(150, 100%, 66%) 0px 0px 50px 10px;
}